@media screen and (max-width: 599px){
    #hamburgerBtn {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 35px;
        height: 30px;
        background: transparent;
        border: none;
        cursor: pointer;
        padding: 0;
    }
    .hamLine {
        width: 100%;
        height: 4px;
        background-color: hsla(65, 100%, 50%, 0.785); /* dark gray, easy to see */
        border-radius: 2px;
        transition: all 0.3s ease;
    }
    #hamburgerBtn.active .hamLine:nth-child(1){
        transform: translateY(10px) rotate(45deg);
    }
    #hamburgerBtn.active .hamLine:nth-child(2){
        opacity: 0;
    }
    #hamburgerBtn.active .hamLine:nth-child(3){
        transform: translateY(-10px) rotate(-45deg);
    }
}@media screen and (min-width: 600px){
    #hamburgerBtn {
        display: none;
        flex-direction: column;
        justify-content: space-around;
        width: 35px;
        height: 30px;
        background: transparent;
        border: none;
        cursor: pointer;
        padding: 0;
    }
}