@media screen and (max-width: 599px){
    .navBar{
        padding: 0 30px 0 0;
    }
    #navMenuList{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 100%;
        top: -100vw;
        transition: .5s ease-in-out;
        background-color: hsla(0, 0%, 13%, 0.753);
        z-index: -1;
    }
    #navMenuList.active{
        top:  70.5px;
    }
    #navUl{
        list-style: none;
        padding: 0;
    }
    #navUl li {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #navUl li a{
        display: flex;
        justify-content: center;
        color: white;
        width: 100%;
        padding: 30px;
        text-decoration: none;
    }
    #navUl li a:active{
        color: black;
        background-color: white;
        text-decoration: none;
    }
}
@media screen and (min-width: 600px){
    #navMenuList{
        display: flex;
        justify-content: center;
        align-items: center;
        height: clamp(90px, 2rem, 10px);
    }
    #navMenuList ul{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        font-size: clamp(80%, 2rem, 25%);
        list-style-type: none; 
    }
    #navMenuList ul li a{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: clamp(15px, 1rem, 20px);
        color: white;
        margin: 0;
        padding: 20px;
        font-size: 15px;
        border-radius: 30px;
        text-decoration: none;
    }
    #navMenuList ul li a:hover{
        color: black;
        background-color: white;
    }
}