@media screen and (max-width: 599px) {
    #tattoo{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        transform: scale(0.2);
        top: 60%;
        left: -8%;
    }
    #tattoo span:nth-child(1){
        background-color: white;
        height: 10px;
        width: 100px;
        border-radius: 20px;
        transform: translate(0, 0);
    }
    #tattoo span:nth-child(2){
        background-color: white;
        height: 10px;
        width: 70px;
        border-radius: 20px;
        transform: translate(10px, 0) rotate(45deg);
    }
    #tattoo span:nth-child(3){
        background-color: white;
        height: 10px;
        width: 70px;
        border-radius: 20px;
        transform: translate(10px, 0) rotate(45deg);
    }
    #tattoo span:nth-child(4){
        background-color: white;
        height: 10px;
        width: 70px;
        border-radius: 20px;
        transform: translate(10px, 0) rotate(45deg);
    }
    #tattoo span:nth-child(5){
        background-color: white;
        height: 10px;
        width: 70px;
        border-radius: 20px;
        transform: translate(-10px, 0) rotate(-45deg);
    }
    #tattoo span:nth-child(6){
        background-color: white;
        height: 10px;
        width: 70px;
        border-radius: 20px;
        transform:translate(-10px, 0) rotate(-45deg);
    }
    #tattoo span:nth-child(7){
        background-color: white;
        height: 10px;
        width: 70px;
        border-radius: 20px;
        transform:translate(-10px, 0) rotate(-45deg);
    }
    #tattoo span:nth-child(8){
        background-color: white;
        height: 10px;
        width: 100px;
        border-radius: 20px;
        transform:translate(0, 0) rotate(0);
    }      
}
@media screen and (min-width: 600px) {
    #tattoo{
        display: none;
    }
}